footer {
    background-color: #1B242F;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
}

span {
    color: #606163;
}

mat-icon {
    font-size: 2rem;
    height: unset;
    width: unset;
}

.page-up-btn {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -1.5rem;
    background-color: #e31b6d;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg);
    color: #f5f5f5;
    border-radius: 0.5rem;
    transition: 125ms all ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #ec4a8e;
    }
}

.social-media-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20rem;
    margin-top: 2rem;


    fa-icon {
        font-size: 2.5rem;
        color: #f5f5f5;
        padding: 1rem;
        transition: 225ms all ease-in-out;
    
        &:hover {
            color: #e31b6d;
        }
    }   
}

.link-wrap {
    display: flex;
    justify-content: center;


    a {
        color: #fff;
        text-decoration: none;
        margin: 1rem 0.5rem;
        transition: 125ms all ease-in-out;

        &:hover {
            color: #e31b6d;
        }
    }
}