<footer >
    <div class="page-up-btn" (click)="scrollTo('home')">
        <mat-icon >double_arrow</mat-icon>
    </div>
    <div class="social-media-wrap">
        <a href="https://www.linkedin.com/in/carinakarthaus"><img src="../../assets/img/icons/linkedin.png" ></a>
        <a href="https://github.com/CarinaKarthaus"><img src="../../assets/img/icons/github.png" ></a>
        <a href="https://www.xing.com/profile/Carina_Karthaus/cv"><img src="../../assets/img/icons/xing.png" ></a>
    </div>
    <div class="link-wrap">
        <a routerLink="/data-protection" >Data Protection</a>
        <a routerLink="/imprint">Imprint</a>
    </div>
    <span> &copy; 2020 Carina Karthaus</span>
</footer>