<div class="section-container">
    <div class="section-header">About</div>
    <div class="label-wrap">

    </div>
    <div class="skills-wrap">
        <div class="bio-wrap">
            PLACEHOLDER

        </div>
        <div class="bar-wrap">
            <div class="bar">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width.%]="85"></div>
                    <div class="bar-tag flex">HTML</div>
                </div>
            </div> 
            <div class="bar">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width.%]="85"></div>
                    <div class="bar-tag flex">CSS</div>
                </div>
            </div>
            <div class="bar">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width.%]="75"></div>
                    <div class="bar-tag flex">JavaScript</div>
                </div>
            </div>
              <div class="bar">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width.%]="60"></div>
                    <div class="bar-tag flex">Angular</div>
                </div>
            </div>
            <div class="bar">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width.%]="70"></div>
                    <div class="bar-tag flex">Design Thinking</div>
                </div>
            </div>
            <div class="bar">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width.%]="50"></div>
                    <div class="bar-tag flex">Node.js</div>
                </div>
            </div>
            <div class="bar">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width.%]="50"></div>
                    <div class="bar-tag flex">UI Design</div>
                </div>
            </div>
            
        </div>

    </div>
</div>