<div class="section-container">
    <div class="section-header">About</div>
    <div class="label-wrap">

    </div>
    <div class="skills-wrap">
        <div class="bio-wrap">
            PLACEHOLDER

        </div>
        <div class="bar-wrap">
            <div class="bar"  *ngFor="let skill of skills">
                <div class="bar-scale">
                    <div class="bar-fill" [style.width]= "skill.skillLevel + '%'" ></div>
                    <div class="bar-tag flex"> {{ skill.skillName }}</div>
                </div>
            </div>             
        </div>

    </div>
</div>