.contact {
    background-color: #252934;
    color: #fff;
    min-height: 30vh;
    font-size: 1rem;

    .section-header {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    span {
        color:  #05C2C9;
        text-align: center;
        padding: 0.5rem 1rem;
    }
}

.contact-dialog-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.contact-dialog {
    min-width: 36rem;
    padding: 4rem;
}
.header-line {
    background : #fff;
}

.mat-raised-button.mat-primary {
    background-color: #01A1A7;
    transition: 125ms all ease-in-out;
    font-family: inherit;
    font-weight: 800;
    

    &:hover {
        background-color:  #05C2C9;
    }
}

.msg-area {
    min-height: 12rem;
}

.mat-input-element {
    caret-color: #05C2C9;
}

::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: #05C2C9 !important;
    color: #05C2C9 !important
  }
  
//   ::ng-deep .mat-form-field-empty.mat-form-field-label {
//       color: #f5f5f5;
//   }

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #05C2C9 !important;
   }

mat-form-field {
    width: 100%;
    font-family: inherit;
}

mat-error {
    color:  #fff;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    .contact-dialog {
        min-width: 80%;
        font-size: 0.9rem;
    }
}

@media (max-width: 450px) {
    .contact-dialog {
        font-size: 0.8rem;
    }
}


