<nav [class.d-none]="fixedNav" class="regularNav"  #nav>
    <div class="link-wrap" [class.active-sidebar]="activeSidebar">
        <a href="#home" [class.active]="navPositionIndicator.homePosition">Home</a>
        <a href="#about" [class.active]="navPositionIndicator.aboutPosition">About</a>
        <a href="#portfolio" [class.active]="navPositionIndicator.portfolioPosition">Portfolio</a>
        <a href="#contact" [class.active]="navPositionIndicator.contactPosition">Contact</a>
    </div>
    <!-- <fa-icon [icon]="['fas', 'bars']" (click)="drawer.toggle()"></fa-icon> -->
    <!-- <div class="mobile-overlay" *ngIf="activeSidebar" [class.opacity-0]="!activeSidebar"></div> -->
</nav>

<mat-drawer-container class="sidenav-container" autosize *ngIf="isMobile">
    <nav [class.d-none]="fixedNav" >
        <fa-icon [icon]="['fas', 'bars']" (click)="drawer.toggle()"></fa-icon>
    </nav>
    <mat-drawer #drawer class="sidenav" mode="over" side="end">

        <div class="link-wrap" [class.active-sidebar]="activeSidebar">
            <a href="#home" [class.active]="navPositionIndicator.homePosition">Home</a>
            <a href="#about" [class.active]="navPositionIndicator.aboutPosition">About</a>
            <a href="#portfolio" [class.active]="navPositionIndicator.portfolioPosition">Portfolio</a>
            <a href="#contact" [class.active]="navPositionIndicator.contactPosition">Contact</a>
        </div>

    </mat-drawer>

  

  
  </mat-drawer-container>

<nav [class.fixed-nav]="fixedNav" [class.d-none]="!fixedNav">
    <div class="link-wrap">
        <a href="#home" [class.active]="navPositionIndicator.homePosition">Home</a>
        <a href="#about" [class.active]="navPositionIndicator.aboutPosition">About</a>
        <a href="#portfolio" [class.active]="navPositionIndicator.portfolioPosition">Portfolio</a>
        <a href="#contact" [class.active]="navPositionIndicator.contactPosition">Contact</a>
    </div>
</nav>