<!-- Regular nav-bar for regular screen size-->
<nav [class.d-none]="fixedNav"  class="regularNav" #nav>
    <div class="link-wrap" >
        <a href="#home" [class.active]="currentSection.homeSection">Home</a>
        <a href="#about" [class.active]="currentSection.aboutSection">About</a>
        <a href="#portfolio" [class.active]="currentSection.portfolioSection">Portfolio</a>
        <a href="#contact" [class.active]="currentSection.contactSection">Contact</a>
    </div>
</nav>

<!-- Fixed nav-bar for regular screen - replaces regular nav when toggle position reached -->

<nav [class.fixed-nav]="fixedNav" [class.d-none]="!fixedNav">
    <div class="link-wrap">
        <a href="#home" [class.active]="currentSection.homeSection">Home</a>
        <a href="#about" [class.active]="currentSection.aboutSection">About</a>
        <a href="#portfolio" [class.active]="currentSection.portfolioSection">Portfolio</a>
        <a href="#contact" [class.active]="currentSection.contactSection">Contact</a>
    </div>
</nav>


