// Responsive design for menu

@media (max-width: 1200px) {
    nav .link-wrap {
        width: 60%;
    }
}
@media (max-width: 1000px) {
    nav .link-wrap {
        width: 80%;
        font-size: 1.4rem;
    }
}

@media (max-width: 850px) {

    .regularNav {
        display: none;
    }
   
}


