<div class="section-container portfolio">
    
    <div class="section-header">Portfolio
        <div class="header-line"></div>
    </div>

    <div class="filter-row flex">
        <div class="filter active">All</div>
        <div class="filter">Angular</div>
        <div class="filter">JavaScript</div>
    </div>

    <div>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
          </mat-grid-list>
    </div>
</div>
