<!-- On mobile (max. width <= 850px): mat-drawer & nav visible  -->
<mat-drawer-container class="sidenav-container" autosize >
  
    <mat-drawer #drawer class="sidenav" mode="over" >
        <div class="link-wrap" >
            <a href="#home" [class.active]="triggerService.homeSection$.value">Home</a>
            <a href="#about" [class.active]="triggerService.aboutSection$.value">About</a>
            <a href="#portfolio" [class.active]="triggerService.portfolioSection$.value">Portfolio</a>
            <a href="#contact" [class.active]="triggerService.contactSection$.value">Contact</a>
        </div>
    </mat-drawer>

    <div  #drawerContainer  id="drawerContainer" >
        <nav >
            <fa-icon [icon]="['fas', 'bars']" (click)="drawer.toggle()"></fa-icon>
        </nav>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>