<!-- On mobile (max. width <= 850px): mat-drawer & nav visible  -->
<mat-drawer-container class="sidenav-container" autosize >
  
    <mat-drawer #drawer class="sidenav" mode="over" >
        <div class="link-wrap" >
            <a href="#home" [class.active]="navPositionIndicator.homePosition">Home</a>
            <a href="#about" [class.active]="navPositionIndicator.aboutPosition">About</a>
            <a href="#portfolio" [class.active]="navPositionIndicator.portfolioPosition">Portfolio</a>
            <a href="#contact" [class.active]="navPositionIndicator.contactPosition">Contact</a>
        </div>
    </mat-drawer>

    <!-- <mat-drawer-content cdkScrollable> -->
        <div  #drawerContainer  id="drawerContainer" CdkScrollable>
            <nav >
                <fa-icon [icon]="['fas', 'bars']" (click)="drawer.toggle()"></fa-icon>
            </nav>
            <router-outlet></router-outlet>
        </div>
    <!-- </mat-drawer-content> -->

</mat-drawer-container>