.overflow-wrap {
    overflow-x: hidden;
}

.modal-wrap {
    height: 100vh;
    // pointer-events: none;
    position: fixed;
    width: 100vw;
    z-index: 100;
}


app-home {
    color: #fff;
    // display: flex;
    // flex-direction: column;
    // line-height: 11pt;
    padding: 0;
    position: relative;
}

app-about {
    height: 100%;
    width: 100%;
}

