/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.section-container {
    padding: 5rem;
}

.section-header {
    text-transform: uppercase;
    color: #45474A;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 5rem;
}
.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}