<div class="modal-wrap">
    <div class="modal">
        <span>
            Hi, I'm <strong>Carina Karthaus</strong>. <br>
            I'm a frontend-developer. 
        </span>
        <div class="btn" (click)="scrollTo('about')">
            View my work  
            <span class="material-icons btn-arrow">
                arrow_forward
            </span>
        </div>
    </div>
    
</div>

<div id="pt" #pt >
    <canvas id="canvas" style="width: 100%; height: 100%;" (window:resize)="resizeCanvas()"  ></canvas>
</div>

